@import 'fonts';
@import 'vars';
@import 'global';

.header {
    max-height: 180px;
    &__top {
        height:100px;
        padding: 23px 0px 25px 6px;
        background-color: #eef1f3;
    &-inner {
        display: flex;
        justify-content: space-between;
        }
    }
    &__main-box {
        display: flex;
        width: 47%;
    }
    &__main-info {
        display: flex;
        align-self: center;
        margin: 0 45px;
            & div + div{
             margin-left: 35px;
            }
    }
    &__main-item {
         position: relative;
    }
    &__main-count {
    position: absolute;
    top: -15px;
    right: -17px;
    padding: 3px 8px;
    font-size: 14px;
    font-weight: 500;
    color: $akcent;
    border-radius: 50%;
    }
    &__main-count--red {
        background-color: #ff6a6c;
    }
    &__main-count--green {
        background-color: #6dbf54;
    }
    &__main-count--blue {
        background-color: $bg;
    }
    &__bottom-wrapper {
        max-height: 80px;
        justify-content: space-between;
        align-self: center;
        margin-bottom: 19px;
        display: flex;
    }
    &__bottom-search {
        padding: 15px 5px 0;
    }
    &__search-form {
        min-width: 363px;
        position: relative;
        input {
            width: 100%;
            border: 1px solid #d9dfe5;
            border-radius: 23px;
            padding: 12px 80px 14px 25px;
            &::placeholder {
                font-size: 15px;
                font-weight: 400;
                color: #9ca1a6;
                display: block;
            }
            &:focus {
                background-color: #eef1f3;
                color:#333333;
            }
        }
        .header-btn {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            -webkit-appearance: button;
            background-color: $bg;
            padding: 14px 27px;
            border-radius: 23px;
            &:hover {
                box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.2);
                 background-color: #4797ef;
                 transition: 0.2s ease-in;
                }
            }
        }
    &__btn {
    display: block;
    background-color: $bg;
    color: $akcent;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    max-height: 68%;
    margin-top: 7px;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    border-radius: 18px;
        &:hover {
            color:  #468bef;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
            background-color: $akcent;
            transition: 0.2s ease-in;
         }
    }
}

.user {
    display: flex;
    &__ico {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #7c7979;
        margin-right: 20px;
    }
    &__info {
        align-self: center;
    &-name{
        font-weight: 500;
    }
    &-balance {
        font-weight: 400;
        color:#4188ed;
    }
}
}

.menu {
    display: flex;
    padding-top: 28px;
    justify-content: space-between;
    max-width: 80%;
    &__item, &__link{
        display: inline-block;
        font-size: 15px;
        color: #333333;
        font-weight: 500;
        text-transform: uppercase;
        &:hover {
        color: #468bef;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
        transition: 0.15s ease-in-out;
    }
    }
    &__item + &__item {
        margin-left: 27px;
    }
}

.search {
    position: relative;
    height: 726px;
    background: rgb(45, 79, 209);
    background: linear-gradient(57deg, rgb(45, 79, 209) 0%, rgb(9, 47, 186) 76%);
    &__inner {
        color: $akcent;
        text-align: center;
        padding-top: 170px;
        margin: 0 auto;
        max-width: 80%;
        position: relative;
    }
    &__title {
        font-size: 60px;
        font-weight: 400;
        margin-bottom: 36px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    &-text {
        font-size: 20px;
        font-weight: 500;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        }
    &-links {
         display: flex;
         justify-content: space-around;
         max-width: 50%;
         padding-top: 66px;
         margin: 0 auto;
         }
    &-link {
         color: $akcent;
         padding: 18px 32px;
         font-size: 16px;
         font-weight: 400;
         border: 1px solid $akcent;
         border-radius: 30px;
             &:hover {
             color:  #468bef;
             box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
             background-color: $akcent;
             transition: 0.2s ease-in;
            }   
    }
    &__form {
        background-color: $akcent;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        margin-top: -72px;
        padding: 40px;
        display: flex;
        border-radius: 3px;
        position: relative;
        z-index: 6;
         &::before {
            content: '';
            position: absolute;
            top: 63px;
            right: 313px;
            width: 15px;
            height: 15px;
            background-image: url(../images/icons/chevron-down.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__input {
        border: 1px solid #d9dfe5;
        width: 80%;
        padding: 15px 192px 15px 28px;
        margin-right: 30px;
        border-radius: 3px;
        &:focus {
            background-color: #eef1f3;
            color: #333333;
        }
    }
    &__btn {
        color: $akcent;
        background-color: $bg;
        border: none;
        border-radius: 3px;
        padding: 20px 67px;
        &:hover {
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
            background-color: #4797ef;
            transition: 0.2s ease-in;
        }
    }
    &__list-select {
        position: absolute;
        top: 40px;
        right: 294px;
        width: 194px;
        padding: 2px 10px 2px 20px;
        height: 58px;
        border: none;
        background-color: transparent;
        border-left: 1px solid #d9dfe5;
        appearance: none;
        outline: 0;
    }
}

.container-form {
    position: relative;
    width: 100%;
    margin-top: 21%;
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        height: 50px;
    }
    &::before {
        top: -11px;
        left: 16px;
        width: 97%;
        z-index: 4;
    }
    &::after {
        top: -26px;
        left: 28px;
        width: 95%;
        z-index: 2;
    }

}

.lnr {
    display: inline-block;
    fill: currentColor;
    width: 20px;
    height: 20px;
    vertical-align: -0.05em;
        &-magnifier {
            color: $akcent;
            width: 15px;
            height: 15px;
            }
        &-envelope {
            color: rgb(95, 89, 89);
            font-size: 40px;
            }
}

.advantages {
    padding-top: 205px;
    padding-bottom: 119px;
    max-height: 711px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        padding: 23px 38px;
        & div {
            margin-bottom: 22px;
        }
        &:hover {
            border-radius: 4px;
            box-shadow: $shadow
   }
    }
    &__title {
        font-size: 25px;
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
    }
    &__img {
        height: 113px;
        width: 113px;
        margin-bottom: 30px;
    }
}

.slider-weekly-products {
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
}

.products {
    background-color: #f6f7fb;
    padding: 115px 0px 119px 0px;
    &__title {
        display: flex;
        justify-content: space-between;
        background-color: $akcent;
        border-radius: 5px;
        box-shadow: $shadow;
        padding: 45px 30px 40px 30px;
        margin-bottom: 29px;
        &-text{
            font-size: 30px;
        }
        &-filter {
            font-size: 16px;
            position: relative;
            padding: 5px 28px 0 0;
        &::after {
            content: '';
            position: absolute;
            top: 6px;
            right: -2px;
            width: 5px;
            height: 20px;
            background-image: url(../images/icons/Icon.svg);
            background-size: contain;
            }
            &.popup {
                display: block;
            }
        }
    }
    &__sort {
        position: absolute;
        display: none;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        width: 180px;
        padding: 25px;
        padding-bottom: 12px;
        top: 47px;
        right: -22px;
        z-index: 3;
        &-link {
            display: inline-block;
            margin-bottom: 10px;
            font-size: 15px;
            &:hover {
                color: #468bef;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: -28px;
            left: 140px; 
            box-shadow: inset 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
            border: 15px solid transparent;
            /* Прозрачные границы */
            border-bottom: 15px solid #ffffff;
            /* Добавляем треугольник */ 
           
            z-index: 4;
            }
    }
    &__buttons{
        background-color: $akcent;
            box-shadow: $shadow;
            border-radius: 5px;
            padding: 25px 25px 25px 30px;
            margin-bottom: 52px;
    }
    &__all {
        display: block;
        padding: 18px 32px;
        color: $akcent;
        font-size: 16px;
        background-color: $bg;
        margin: 0 auto;
        border: none;
        border-radius: 25px;
        &:hover {
            color: $bg;
            background-color: $akcent;
            box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
            transition: 0.25s ease-in-out; 
        }
    }
     &-btn {
            color: #747b86;
            padding: 8px 18px 9px 21px;
            border: none;
            margin-right: 4px;
            background-color: #f1f3f6;
            border-radius: 16px;
            font-size: 15px;
                &:hover {
                    background-color: $bg;
                    color: $akcent;
                    transition: 0.25s;
                }
                &.mixitup-control-active {
                    color: $akcent;
                    background-color: $bg;
                }
            }
        & + &{
            margin-left: 4px;
            }
    &__inner-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 27px;
        margin-right: -30px;
        }
}

.card {
    max-width: calc(100% / 3 - 30px);
    border-radius: 6px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.12);
    margin-bottom: 30px;
    margin-right: 30px;
    overflow: hidden;
    &:hover {
        .card__hover {
            top: 0;
            opacity: 1;
        }
    }
    &__head {
        position: relative;
        height: 230px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__hover {
        position: absolute;
        top: -100%;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        opacity: 0;
        transition-duration: 0.5s;
    }
    &__btn {
        padding: 12px 30px;
        border-radius: 30px;
        border: 1px solid $akcent;
        color: $akcent;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        &:hover {
            color:  #468bef;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
            background-color: $akcent;
        }
        &:first-child {
            margin-right: 10px;
        }
    }
    &__body {
        background-color: $akcent;
        box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.08);
        padding: 28px 30px 30px 29px;
        &-title {
            color: #000000;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        &-name {
            display: flex;
            align-items: center;
            margin-bottom: 28px;
            padding-top: 15px;
        }
        &-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &__customer-name {
        padding-right: 11px;
    }
    &__item-category {
        color: #8a6aca;
        font-size: 15px;
        padding-left: 25px;
        position: relative;
    }
    &__item-text {
        font-size: 16px;
        line-height: 29px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        background-color: $akcent;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
        padding: 12px 9px 15px 29px;
        border-top: 1px solid #ececec;
        margin-left: 0 !important;
        &-wrapper {
            display: flex;
        }
        &-price {
            color: $bg;
            padding: 8px 16px;
            margin-right: 11px;
            background-color: #e6f1fd;
            border-radius: 15px;
        }
        &-like {
            padding: 8px 16px 8px 30px;
            position: relative;
            background-color: transparent;
            margin-right: -45px;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 6px;
                width: 15px;
                height: 15px;
                background-image: url(../images/icons/heart.svg);
                background-repeat: no-repeat;
            }
        }
        &-star {
            padding: 8px 16px 8px 23px;
            position: relative;
        }
        &-total {
            padding: 8px 20px 8px 22px;
            position: relative;
            color: $bg;
            background-color: transparent;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                width: 15px;
                height: 15px;
                background-image: url(../images/icons/cart-blue.svg);
                background-repeat: no-repeat;
            }
        }
        button {
            border: none;
        }
    }
}

.card__item-category {
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

//start slider-weekly
.weeklyproduct {
    max-height: 450px;
}

.slider-weekly  {
    padding: 120px 0;
    min-height: 500px;
    background-color: #eff1f5;
    text-align: left;
    &.slick-list {
        padding-left: 0 !important;
    }
   &__title {
        padding: 25px 14px 30px 30px;
        background-color: $akcent;
        border-radius: 8px;
        box-shadow: $shadow;
        font-size: 30px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__slides {
        max-height: 450px;
    }
    .slick {
        &-arrow {
        border: none;
        outline: transparent;
        color: white;
        background-color: #7347c1;
        padding: 6px 24px;
        z-index: 5;
        cursor: pointer;
        &:hover {
            background-color: #9360eb;
            }
        }
    &-prev {
            border-radius: 30px 0 0 30px;
        }
    &-next {
            border-radius: 0px 30px 30px 0;
        }
    &-active {
           
        }
    }
    .slick-list {
        padding-left: 15px;
    }
}

.weekly {
    &-card {
    height: 450px;
        .slick-slide {
         margin-left: 0px;
            }
     }
    &__picture {
        display: block;
        max-width: 50%;
        height: 100%;
        object-fit: cover;
        float: left;
     }
}

.arrows-wrap, .folowers_arrows-wrap {
    padding-right: 15px;
}
.content {
    padding: 45px 35px 23px 45px;
    background-color: $akcent;
    max-width: 50%;
    float: right;
    &__title {
        font-size: 24px;
        font-weight: 500;
        }
    &__name {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        padding-top: 15px;
        &-avatar {
            width: 37px;
            height: 28px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        &-name {
            padding-right: 11px;
        }
        &-category {
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-size: contain;
            color: #8a6aca;
            font-size: 15px;
            padding-left: 25px;
            position: relative;
            }
        }
    &__text {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 35px;
    }
    &__links {
        display: flex;
        margin-bottom: 40px;
        }
    &__link {
        padding: 10px 15px;
        background-color: #f1f3f6;
        border-radius: 10px;
        font-size: 15px;
        margin-right: 8px;
        &:hover {
             background-color: #d7e3f5;
        }
        }
    &__footer {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-top: 1px solid #f1f3f6;
        padding: 22px 9px 0 0 ;
        margin-left: 0 !important;
        &-wrapper {
            display:flex;
            }
        &-price {
            color: #ffffff;
            padding: 8px 16px;
            margin-right: 18px;
            background-color: #0674ec;
            border-radius: 15px;
            }
        &-like {
            padding: 8px 16px 8px 30px;
            position: relative;
            background-color: transparent;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 6px;
                width: 15px;
                height: 15px;
                background-image: url(../images/icons/heart.svg);
                background-repeat: no-repeat;
            }
        }
        &-total {
            padding: 8px 20px 8px 25px;
            position: relative;
            color: #0674ec;
            background-color: transparent;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                width: 15px;
                height: 15px;
                background-image: url(../images/icons/cart-blue.svg);
                background-repeat: no-repeat;
                }
        }
        }
}
//end slider-weekly

//start folowers-slider
.folowers {
    padding: 120px 0;
    min-height: 100px;
    background-color: #eff1f5;
    &__title {
        padding: 25px 14px 30px 30px;
        background-color: $akcent;
        border-radius: 8px;
        box-shadow: $shadow;
        font-size: 30px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .slick {
        &-arrow {
        border: none;
        outline: transparent;
        color: white;
        padding: 6px 24px;
        background-color: $bg;
        z-index: 5;
        cursor: pointer;
        &:hover {
            background-color: #358ff0;
                }
            }
    &-prev {
        border-radius: 30px 0 0 30px;
        }
    &-next {
        border-radius: 0px 30px 30px 0;
        }
    &-active {
        width: 360px !important;
        margin-right: 30px;
        }
    }
    &-card {
        width: 360px !important;
        border-radius: 6px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 30px;
        margin-right: 30px;
        overflow: hidden;
        
    }
}

.jq-ry-container {
    padding: 10px 5px;
    width: 96px;
}
//end folowers-slider
.fun-fact {
    background-color: #000000;
    height: 350px;
    padding: 95px 0;
    text-align: center;
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        min-width: 110px;
        &:nth-child(2) {
            margin-left: 20px;
        }
         &:nth-child(4) {
             margin-left: 0;
             margin-right: -6px;
         }
    }
}
.fact {
    &__img {
        margin: 0 auto;
        width: 50px;
        height: 44px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 40px;
        
    }
    &__number {
        font-size: 36px;
        margin-bottom: 10px;
        &--orange {
            color: #feb71d;
        }
        &--blue {
            color: #58c9e9;
        }
        &--green {
            color: #77de51;
        }
        &--red {
            color: #ff6a6d;
        }
    }
    &__text {
        font-size: 18px;
        color: $akcent;
    }
}

.choose {
    padding: 116px 0 122px 0;
    &__title {
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
        &--blue {
            color: #0674ec;
        }
    }
    &__subtitle {
        text-align: center;
        font-size: 16px;
        max-width: 675px;
        margin: 0 auto;
        line-height: 20px;
        margin-bottom: 60px;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        background-color: $akcent;
        max-width: 365px;
        padding: 55px 35px 60px 35px;
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        &-title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        &-text {
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__number {
        position: absolute;
        top: 8px;
        left: 20px;
        font-size: 48px;
        font-weight: 300;
        color: #dee7fe;
    }
    &__img {
        margin: 0 auto;
        width: 60px;
        height: 55px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 40px;
    }
}

.sell-buy {
    min-height: 560px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: $akcent;
}

.sell, .buy {
    max-width: 50vw;
    height:  560px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sell-buy {
    &__wrap {
        margin: 0 auto;
        padding: 100px 80px;
    }
    &__picture {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 128px;
        height: 106px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-title {
        font-size: 36px;
        margin-bottom: 28px;
    }
    &-text {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 50px;
    }
    &-btn {
        background-color: $akcent;
        padding: 20px 26px;
        width: 190px;
        font-size: 16px;
        color: #8a6aca;
        border: none;
        border-radius: 30px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    }
}

.sell {
    background-image: url(../images/sell_bg.png);
    margin-right: -5px;
    &__btn {
        color: #0674ec;
    }
}

.buy {
    background-image: url(../images/buy_bg.svg);
    &__picture {
        background-size: contain;
     }
}

.testimonial {
    height: 840px;
    background-color: $akcent;
    padding: 129px 0;
    &__inner {
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        font-size: 36px;
        padding-bottom: 40px;
        &--blue {
            color: #0674ec;
        }
    }
    &__subtitle {
        font-size: 16px;
        line-height: 22px;
        max-width: 670px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }
    &__slider {
        height: 317px;
        &-card {
            border-left: 2px solid #0674ec;
            background-color: $akcent;
            padding: 50px 40px;
            width: 557px;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .card {
            &__head-testimonial {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            }
            &__user-info {
                display: flex;
            }
            &__picture {
            width: 80px;
            height: 80px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-position: center;
            float: left;
            margin-right: 20px;
            }
            &__title {
                font-size: 20px;
                padding-top: 5%;
            }
            &__subtitle {
                font-size: 16px;
            }
            &__body-testimonial {
                font-size: 16px;
                line-height: 22px;
            }
        }
        
    }
.lnr--gray {
    color: #e8e8e8;
    width: 58px;
    height: 52px;
}
}

//start footer
.footer {
    background-color: #262b30;
    color: #88898a;
    &__inner {
        display: flex;
        justify-content: space-between;
        }
    &__content {
        padding: 130px 0 110px 0;
        }
}
.footer__logo {
    margin-top: -15px;
    &-img {
        margin-bottom: -10px;
        }
}
.footer__col {
    max-width: 370px;
    color: #ababab;
    &:first-child {
            max-width: 280px;
        }
    &-text {
        margin-bottom: 25px;
        line-height: 25px;
    }
}
.footer__form-form {
    width: 100%;
    position: relative;
    input {
    width: 100%;
    border: 1px solid #d9dfe5;
    border-radius: 23px;
    padding: 12px 115px 14px 25px;
    }
    .footer__btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    -webkit-appearance: button;
    background-color: #0674ec;
    padding: 14px 30px;
    color: #ffffff;
    border-radius: 23px;
    cursor: pointer;
    &:hover {
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.2);
    background-color: #4797ef;
    transition: 0.2s ease-in;
    }
    }
}
.footer__col-list {
    a {
        margin-bottom: 10px;
    }
}
.footer__col-title {
    font-size: 18px;
    margin-bottom: 30px;
     color: #ffffff;
}
.footer__copy {
    background-color: #192027;
    padding: 40px 0px;
    text-align: center;
    font-size: 15px;
    &-text {
        color: #717274;

        }
    &-akcent {
        color: #e0e1e2;
    }
}
.footer__info {
    padding-left: 30px;
    position: relative;
    color: #88898a;
    display: block;
    margin-bottom: 5px;
    line-height: 24px;
}
.footer__info-tel {
    &::before {
    content: url(../images/icons/phone-handset.svg); 
    position: absolute;
    top: 0;
    left: 0;
    }

}
.footer__info-email {
     &::before {
    content: url(../images/icons/envelope.svg);
    position: absolute;
    top: 0;
    left: 0;
    }
}
.footer__info-adress {
    &::before {
    content: url(../images/icons/map-marker.svg);
    position: absolute;
    top: 0;
    left: 0;
    }

}
.footer__social-link {
    margin-top: 33px;
    li {
        display: inline-block;
    }
    a{
    width: 43px;
    height: 43px;
    display: inline-block;
    cursor: pointer;
    background-image: url(../images/icons/social.png);
    background-repeat: no-repeat;
    }
}

.footer__form-text {
    line-height: 25px;
    margin-bottom: 30px;
}

.link-twitter {
 background-position: -55px 0;
}
.link-google {
 background-position: -109px -0;
}
.link-pinterest {
 background-position: -165x -0;
}
.link-linkedin {
 background-position: -219px -0;
}
.link-web {
 background-position: -275px -0;
}
//end footer
