@import 'vars';
@import 'global';
@import 'fonts';

.header {
    max-height: 180px;
    
}
.header__top {
    height:100px;
    padding: 23px 0px 25px 6px;
     background-color: #eef1f3;
    &-inner {
        display: flex;
        justify-content: space-between;
            }
}

.header__main-box {
    display: flex;
    width: 47%;
}

.submit {
        display: block;
        background-color: #0674ec;
        color: #ffffff;
        max-height: 68%;
        margin-top: 7px;
        font-size: 14px;
        padding: 10px 20px 10px 20px;
        border-radius: 17px;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        -ms-border-radius: 17px;
        -o-border-radius: 17px;
        &:hover {
        color:  #468bef;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        }
}

.header__main-info {
    display: flex;
    align-self: center;
    margin: 0 45px;
       & div + div{
        margin-left: 35px;
    }
}

.header__main-item {
    position: relative;
}

.header__main-notification, .header__main-message, .header__main-cart {
    position: absolute;
    top: -15px;
    right: -17px;
    padding: 3px 8px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__main-notification {
    background-color: #ff6a6c;
}

.header__main-message {
    background-color: #6dbf54;
}

.header__main-cart {
    background-color: #0674ec;
}

.user {
    display: flex;
    &-ico {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #7c7979;
    margin-right: 20px;
    }
}
.user__info {
    align-self: center;
    &-name{
    font-weight: 500;
    }
    &-balance {
        font-weight: 400;
        color:#4188ed;
    }
}

.header__bottom-wrapper {
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 21px;
}

.menu {
    display: flex;
    padding-top: 28px;
    justify-content: space-between;
    max-width: 80%;
}
.menu__list li, .menu__list li a{
    display: inline-block;
    font-size: 15px;
    color: #333333;
    font-weight: 500;
}

.menu__list li + li {
    margin-left: 27px;
}

.header__bottom-search {
    padding-top: 13px;
}

.form {
    min-width: 360px;
    position: relative;
    input {
        display: block;
        width: 100%;
        border: 1px solid #d9dfe5;
        border-radius: 19px;
        padding: 12px 80px 14px 25px;
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
        -ms-border-radius: 19px;
        -o-border-radius: 19px;
        &::placeholder{
        font-size: 15px;
        font-weight: 400;
        color: #9ca1a6;
        }
    }
    button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    -webkit-appearance: button;
    background-color: #0674ec;
    padding: 11px 24px;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
}
}

.search {
  background: rgb(45, 79, 209);
background: -webkit-linear-gradient(57deg, rgb(45, 79, 209) 0%, rgb(9, 47, 186) 76%);
background: -o-linear-gradient(57deg, rgb(45, 79, 209) 0%, rgb(9, 47, 186) 76%);
background: -ms-linear-gradient(57deg, rgb(45, 79, 209) 0%, rgb(9, 47, 186) 76%);
background: linear-gradient(57deg, rgb(45, 79, 209) 0%, rgb(9, 47, 186) 76%);
  height: 726px;
}
.search__inner {
    color: #ffffff;
    text-align: center;
    padding-top: 170px;
    margin: 0 auto;
    max-width: 80%;
    position: relative;
    &-title {
font-size: 60px;
font-weight: 400;
margin-bottom: 36px;
    }
    &-text {
        font-size: 20px;
        font-weight: 500;
    }
    &-link {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    padding-top: 66px;
    margin: 0 auto;
         
    }
    &-link a {
         color: #ffffff;
         padding: 18px 32px;
         font-size: 16px;
         font-weight: 400;
         border: 1px solid #ffffff;
         border-radius: 30px;
         -webkit-border-radius: 30px;
         -moz-border-radius: 30px;
         -ms-border-radius: 30px;
         -o-border-radius: 30px;
}
    &-link a:hover {
        color:  #468bef;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
    }
}

.bold-weight {
    font-weight: 700;
    display: block;
}

.container__form {
    position: relative;
    width: 100%;
    &::before {
    content: "";
        position: absolute;
        top: -12px;
        left: 29px;
        background-color: rgba(255, 255, 255, 0.5);
     box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
      border-radius: 3px;
        width: 95%;
        height: 50px;
        z-index: 4;
}
&::after {
    content: "";
        position: absolute;
        top: -26px;
        left: 41px;
        background-color: rgba(255, 255, 255, 0.5);
     box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
      border-radius: 3px;
        width: 93%;
        height: 50px;
        z-index: 2;
}
}

.search__form {
    background-color: #ffffff;
     box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    margin-top: -72px;
    padding: 40px;
    display: flex;
     border-radius: 3px;
    position: relative;
    z-index: 6;
   input[type="text"] {
        border: 1px solid #d9dfe5;
        width: 80%;
        padding: 20px 175px 20px 28px;
        margin-right: 30px;
        border-radius: 3px;
        
    }
    select {
        position: absolute;
        top: 18px;
        right: 18%;
        border: none;
        
    }
    input[type="submit"] {
        color: #ffffff;
        background-color: #0674ec;
        border: none; 
        border-radius: 3px;
        padding: 20px 67px;
    }

   .search__form-wrapper {
    position: absolute;
    top: 40px;
    right: 293px;
    width: 190px;
    height: 60px;
    border: 1px solid #d9dfe5;
   }
}

.adventages {
    padding-top: 138px;
    padding-bottom: 119px;
    max-height: 711px;
}

.adventages__inner {
    display: flex;
    justify-content: space-between;
}

.adventages__item {
   text-align: center;
   padding: 20px 40px;
   & div {
       margin-bottom: 28px;
   }
   &:hover {
       box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
       border-radius: 4px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       -ms-border-radius: 4px;
       -o-border-radius: 4px;
   }
}

.adventages__title {
    font-size: 25px;
}

.adventages__text {
    font-size: 16px;
    line-height: 21px;
}

.slider-weekly-products {
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
}

.products {
    background-color: #f6f7fb;
    padding: 115px 0px 119px 0px;

}

.products__title {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    padding: 45px 30px 40px 30px;
    margin-bottom: 29px;
    &-title{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
     font-size: 30px;
    }
    &-desc {
        font-size: 16px;
        position: relative;
       padding: 5px 28px 0 0;
        &::after {
            content: '';
            position: absolute;
            top: 6px;
            right: -2px;
            width: 5px;
            height: 20px;
            background-image: url(../images/icons/Icon.svg);
            background-size: contain;
        }
    }
}

.products__inner {
    &-btn {
    background-color: #ffffff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 30px 25px 28px 30px;
    margin-bottom: 52px;
    button {
    color: #747b86;
    padding: 8px 18px 9px 21px;
    border: none;
    background-color: #f1f3f6;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-size: 15px;
    &:hover {
        color: #ffffff;
        background-color: #0674ec;
    }
    &.active {
        color: #ffffff;
        background-color: #0674ec;
     }
    }
    button + button{
        margin-left: 4px;
    }
    }
    &-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 27px;
    }
}

.product__item {
    max-width: 361px;
    margin-bottom: 15px;
    &-img {
        width: 100%;
        height: 228px;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: -3px;
    }
    &-content {
        background-color: #fff;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    padding: 28px 40px 30px 29px;
}
    &-title {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    }
    &-text {
        font-size: 16px;
        line-height: 29px;
    }
    &-category {
        color: #8a6aca;
        font-size: 15px;
        padding-left: 25px;
        position: relative;
    }
}
.wordpress::before {
        content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 20px;
        background-image: url(../images/icons/wordpress.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
.ps::before {
        content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 20px;
        background-image: url(../images/icons/psd.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
.html::before {
        content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 20px;
        background-image: url(../images/icons/html.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .customer {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        &-img {
            width: 37px;
            height: 28px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        &-name {
            padding-right: 11px;
        }
    }

    .product__footer {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
        padding: 12px 9px 15px 29px;
        border-top: 1px solid #ececec;
        margin-left: 0 !important;
        &-wrapper {
            display: flex;
        }
        &-price {
            color: #0674ec;
            padding: 8px 16px;
            margin-right: 11px;
            background-color: #e6f1fd;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }
        &-like {
            padding: 8px 16px 8px 23px;
            position: relative;
        }
        &-like::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 15px;
            height: 15px;
            background-image: url(../images/icons/heart.svg);
            background-repeat: no-repeat;
        }
        &-star {
            padding: 8px 16px 8px 23px;
            position: relative;
        }
        &-total {
            padding: 8px 20px 8px 22px;
            position: relative;
            color: #0674ec;
        }
        &-total::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 15px;
            height: 15px;
            background-image: url(../images/icons/cart-blue.svg);
            background-repeat: no-repeat;

        }
    }

    .products-all {
        display: block;
        padding: 18px 32px;
        color: #ffffff;
        font-size: 16px;
        background-color: #0674ec;
        margin: 0 auto;
        border: none;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        &:hover {
            color: #0674ec;
            background-color: #ffffff;
             box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
        }
}